<div class="form">
  <div class="sub-form">
    <div class="form-control">
      Nome: {{input value=model.name}}
    </div>
    <div class="form-control">
      Login: {{input value=model.login}}
    </div>
    <div class="form-control">
      Senha: {{input value=model.password}}
    </div>
    <div class="form-control">
      <button {{action 'newUser'}}>Add</button>
    </div>
  </div>
</div>